// $sicc-blue-darken1: rgb(3, 71, 139);
@import '../../styles';
.headerBgColor{
    background-color: $sicc-blue-darken1;
    /* box-shadow: 2px 2px var(--sicc-orange); */
}

.navbar-nav li > a {
	// text-transform: capitalize;
	// color: #333;
	transition: background-color .2s, color .2s;
	&:hover,
	&:focus {
        border-bottom: solid 2px $sicc-orange-darken1;
		color: #fff;
		cursor: pointer;
	}
}

.navbar-nav li.active > a {
    border-bottom: solid 2px $sicc-orange-darken1;
	color: #fff;
}

.dropdown-menu li > a {
	// text-transform: capitalize;
	// color: #333;
	transition: background-color .2s, color .2s;
	&:hover,
	&:focus {
        border-bottom: solid 2px $sicc-orange-darken1;
		color: #fff;
		cursor: pointer;
	}
}