@import '../../variables';

// .centered {
// //   position: fixed;
// //   top: 43%;
// //   left: 50%;
// //   /* bring your own prefixes */
// //   transform: translate(-50%, -50%);
//     margin-top: 100px
// }
.card{
  background-color: transparent;
}

.login-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $sicc-blue-darken1;
  z-index: -1;
  /* box-shadow: 0px 0px 10px 1px; */
}

h3 {
  font-family: 'Prompt', 'Niramit', 'Roboto', sans-serif;
  color: white;
  padding-bottom: 10px;
  border-bottom: solid 3px $sicc-orange;
}

button {
    background-color: $sicc-blue-darken1;
    border-color: white;
    // border-width: 2px;
}