<div class="login-bg">
</div>
<app-header></app-header>
<div class="container mt-md-5 mt-3 pt-md-5">
  <div class="row align-items-center">
    <div class="mr-auto ml-auto card border-0 px-md-4 px-0 py-3 col-lg-5 col-md-7 col-11">
      <div class="card-body">
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
          <div class="mb-4">
            <h3><i class="fas fa-sign-in-alt"></i> Sign In</h3>
          </div>
          <div class="input-group mt-4">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-user"></i></div>
            </div>
            <input type="text" name="username" id="username" [(ngModel)]="member_name" placeholder="Username" class="form-control"
              required #username="ngModel" [ngClass]="{'is-invalid':username.invalid && (username.dirty || username.touched || loginForm.submitted)}">
              <div class="invalid-feedback">Please fill Username.</div>
          </div>
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" name="password" [(ngModel)]="member_password" placeholder="Password" class="form-control"
              required #password="ngModel" [ngClass]="{'is-invalid':password.invalid && (password.dirty || password.touched || loginForm.submitted)}">
              <div class="invalid-feedback">Please fill Password.</div>
          </div>
          <div *ngIf="errortxt" class="mt-1">
          <alert type="danger text-center">
              {{ errortxt }}
          </alert>
        </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Sign In</button>
        </form>

      </div>
    </div>
  </div>
</div>