/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Niramit|Prompt|Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$sicc-orange: #F89C27;
$sicc-blue: #0054A6;
$sicc-blue-lighten1: rgb(5, 98, 190);
$sicc-blue-lighten2: rgb(183, 211, 240);
$sicc-blue-darken1: rgb(3, 71, 139);
$sicc-blue-darken2: rgb(2, 45, 87);

html,
body {
  height: 100%;
  font-family: 'Prompt', 'Niramit', 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Prompt', 'Niramit', 'Roboto', sans-serif;
}

.mainBg {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Prompt', 'Niramit', 'Roboto', sans-serif;
}
