$sicc-orange: #F89C27;
$sicc-orange-darken1: rgb(216, 132, 22);
$sicc-blue: #0054A6;
$sicc-blue-lighten1: rgb(5, 98, 190);
$sicc-blue-lighten2: rgb(183, 211, 240);
$sicc-blue-darken1: rgb(3, 71, 139);
$sicc-blue-darken2: rgb(2, 45, 87);